@{
    ViewData["Title"] = "About";
    ViewData["info"] = "This is my first applicationssssssssssssss";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<h1>@ViewData["info"]</h1>